/* nav bar css style ============*/
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;

}

/* hero css style ================*/
.hero {
    background: rgb(255,255,255);
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(149, 149, 149, 0.8)), url(../images/bckground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    max-height: 100%;
}

/* project cards ===========*/
#projects .card img {
    object-fit: cover;
    object-position: 30% 20%;
    height: 100px;
}


.projects-section{
    margin: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto,4);
    grid-template-areas: 
    "project1"
    "project2"
    "project3"
    "project4"
    "project5" 
    ;

}

#project1{
        grid-area: project1;
        margin-right:20px ;
        
}

#project2{
    grid-area: project2;
}

#project3{
    grid-area: project3;
    margin-right:20px ;
}

#project4{
grid-area: project4;
margin-right:20px ;
}

#project5{
    grid-area: project5;
    }

.card:hover{
    background-color: rgb(255, 254, 254) !important;
    box-shadow: 2px 5px 10px 0px rgb(0, 0, 0); 
    transform: translateY(-5px);
    transition: all 0.6s ease-in-out;
}

/* contact links ===========*/
.contact-content{
    font-size: 30px;
}

.contact-content i{
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.contact-content i:hover{
    background-color: rgb(255, 0, 0) !important;
    box-shadow: 0px 5px 10px 0px grey; 
    /* Horizontal Length | Vertical Length  | Blur Radius | Spread Radius | Shaddow colour  */
    transform: translateY(-3px);
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width:700px){

    .projects-section{
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50% auto;
        grid-template-areas: 
        "project1 project1 project2"
        "project3 project4 project5"
        ;

    }

}