/* nav bar css style */
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;

}

/* jumboton css style */
.jumbotron{
    background-image: url(../images/bckground.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-copy{
    text-align: center;
}    

.jumbotron img{
    width: 300px;
    border-radius: 125px;
}


.jumbotron h1{
    margin-bottom: 40px;
}


.about-me1{

    display: flex;
    justify-content:left;
    align-items: center;
   
}

.about-me2{
        color: red;
        
        
}

.about-me-content{
  
     text-align: center;


}
.about-me1 p {
    color: rgb(0, 0, 0);
  

}

.projects-wrapper{
    display: flex;
justify-content: center;
color: red;


}